@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

@layer utilities {
    .header-fixed {
        @apply w-full border-b border-custom-border bg-custom-black py-4 fixed top-0 left-0 z-50 animate-smoothScroll;
    }
}

:root {
    --clr_blue: #1e3a8a; /* Adjust this color as needed */
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
  
.animate-scroll {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 20s linear infinite;
}
  
.hero__lg-list {
    display: flex;
    gap: 6px;
    width: 200%; /* Ensure the width is enough to create a seamless loop */
}

@layer components {
    .bl__bnr-left {
        @apply relative z-10 before:content-[''] before:absolute before:inset-0 before:-z-10;
        @apply before:bg-[radial-gradient(96.04%_99.62%_at_0%_0%,#444A8D_0%,#242854_50%,#101129_100%)];
    }
  
    .bl__bnr-right {
        @apply relative z-10 overflow-hidden;
    }
}


/* Masonry layout */

.masonry-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .masonry-item {
    position: absolute;
    padding: 15px;
    will-change: transform, width, height, opacity;
  }
  
  .masonry-item-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* Additional CSS for spotlight effect */
  .spotlight-card:hover::before {
    opacity: 1;
  }
  
  .spotlight-card:hover::after {
    opacity: 0.2;
  }

  /* logo swiper */
  .logo-swiper {
    padding: 10px 0;
    overflow: visible;
  }
  
  .logo-swiper .swiper-slide {
    transition: transform 0.3s ease;
  }
  
  .logo-swiper .swiper-slide:hover {
    transform: scale(1.05);
  }